body {
    background: url('../images/loginBg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* El último número (0.6) es la opacidad: súbelo para oscurecer más */
    z-index: 1; /* Se coloca detrás del formulario */
}

/* Efecto de cristal con borde grueso como el mockup */
.login-card {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 450px;
    padding: 40px;
    background: transparent;
    backdrop-filter: blur(10px); /* Desenfoque de fondo */
    border: 4px solid #ffffff; /* Borde blanco grueso */
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    color: white;
}

/* Título Dorado */
.login-card h3 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    color: #D1B16D; /* Dorado del mockup */
    font-size: 1.8rem;
}

.form-label {
    color: #D1B16D;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
}

/* Inputs redondeados */
.form-control {
    background: #ffffff;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    height: 35px;
}

.text-muted {
    color: #ffffff !important;
}

.btn-primary {
    background: #001f3f;
    color: #D1B16D;
    font-weight: 600;
    border-radius: 10px;
    padding: 8px;
    transition: 0.3s;
    border-color: #001f3f;
}

.btn-primary:hover {
    color: #001f3f;
    background: #D1B16D;
    transform: translateY(-2px);
}

